@import "@fontsource/atkinson-hyperlegible/700.css";
@import "tailwindcss";

@theme {
  --font-sans: "Atkinson Hyperlegible", sans-serif;

  /* Color palette (Restrict to design's colors only) */
  --color-*: initial;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-50: #fcfcfc;
  --color-grey-100: #f2f2f2;
  --color-blue-100: #dfe7ec;
  --color-blue-300: #bcced9;
  --color-blue-350: #6395b8;
  --color-blue-400: #7191a5;
  --color-blue-800: #304850;
  --color-blue-950: #152938;
  --color-orange-300: #ffb84a;
  --color-orange-400: #fda214;

  /* Text presets */
  --text-*: initial;
  --text-preset-1: 3.5rem;
  --text-preset-2: 3rem;
  --text-preset-3: 2.75rem;
  --text-preset-4: 2.5rem;
  --text-preset-5: 2rem;
  --text-preset-6: 1.625rem;
  --text-preset-7: 1.5rem;
  --text-preset-8: 1.25rem;
  --text-preset-9: 1.125rem;
  --text-preset-10: 1rem;
  --text-preset-11: 0.9375rem;
  --text-preset-12: 0.875rem;
  --text-preset-13: 0.8125rem;
  --text-preset-13--letter-spacing: 5px;
}

body {
  font-family: var(--font-sans);
  font-weight: 700;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
}
